[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
packaging = "*"
great-expectations = "*"
psycopg2-binary = "2.9.3"
asyncpg = "0.25.0"
sqlalchemy = "*"
ipython = "*"
fastapi = "*"
uvicorn = "*"
pg_activity = "*"
mypy = "*"
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
